/* Menu */

#navBar{
    width: 100%;
    height: auto;
    align-items: center;
}

.navigation{
    display: flex;
    justify-content: space-around;
    align-items: center; 
    padding: 1rem 0rem;
}

.navigation .logo-navigation{
    cursor: pointer;
}
.navigation .section-navigation{
    display: flex;
    align-items: center;
}

.navigation .section-navigation ul{
    display: flex;
    list-style: none;
}

.navigation .section-navigation ul > li{
    margin-left: 2rem;
}

.navigation .section-navigation ul > li > a {
    text-decoration: none;
    color: var(--color-primary-gray);
    transition: all 0.4s;
}

.navigation .section-navigation ul > li > a:hover{
    color: var(--color-primary-green);
}

.navigation .section-navigation button{
    margin-left: 2rem;
    background-color: var(--color-primary-green);
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 0.312rem;
    color: var(--color-primary-white);
    font-weight: 400;
    cursor: pointer;
}

.navigation .section-navigation button > i{
    margin-left: 0.6rem;
}

.mobile-menu-icon{
    display: none;
}

.mobile-menu{
    display: none;
}


@media screen and (max-width:769px){
    .navigation{
        justify-content: space-between;
        padding: 1rem 0.9rem;
    }
    .navigation .section-navigation{
        display: none;
    }

    .mobile-menu-icon{
        display: block;
    }

    .mobile-menu-icon button{
        background: transparent;
        border: none;
        cursor: pointer;
        color: var(--color-primary-gray);
        font-size: 1.5rem;
    }

    .mobile-menu{
        position: fixed;
        top: 0;
        transition: left 0.3s ease-in-out;
        left: -100%; 
        width: 50%;
        height: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 2rem;
        transition: left 0.3s ease;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
        z-index: 1000; 
    }

    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        gap: 1rem;
    }

    .mobile-menu ul li a{
        text-decoration: none;
        color: var(--color-primary-gray);
        font-size: 1.2rem;
        transition: all 0.4s;
    }

    .mobile-menu ul li a:hover{
        color: var(--color-primary-green);
    }

    .mobile-menu button{
        width: 80%;
        margin-top: 2rem;
        background-color: var(--color-primary-green);
        padding: 0.7rem 1.3rem;
        border: none;
        border-radius: 0.312rem;
        color: var(--color-primary-white);
        font-weight: 400;
        cursor: pointer;
        font-size: 0.9rem;
    }


    .mobile-menu.open{
        left: 0;
    }

    #menu-icon {
        transition: transform 0.3s ease;
    }
    .mobile-menu-icon.open #menu-icon {
        transform: rotate(90deg);
    }

    #menu-icon.fa-xmark {
        animation: burger-to-x 0.3s ease forwards;
    }
    
}
