/* Menu */

#navBar{
    width: 100%;
    height: auto;
    align-items: center;
}

.navigation{
    display: flex;
    justify-content: space-around;
    align-items: center; 
    padding: 1rem 0rem;
}

.navigation .logo-navigation{
    cursor: pointer;
}
.navigation .section-navigation{
    display: flex;
    align-items: center;
}

.navigation .section-navigation ul{
    display: flex;
    list-style: none;
}


.navigation .section-navigation ul > li{
    margin-left: 2rem;
}

.navigation .section-navigation ul > li > a {
    text-decoration: none;
    color: var(--color-primary-gray);
}

.navigation .section-navigation button{
    margin-left: 2rem;
    background-color: var(--color-primary-green);
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 0.312rem;
    color: var(--color-primary-white);
    font-weight: 400;
    cursor: pointer;
}

.navigation .section-navigation button > i{
    margin-left: 0.6rem;
}

.mobile-menu-icon{
    display: none;
}

.mobile-menu{
    display: none;
}

@media screen and (max-width:769px){
    .navigation{
        padding: 1rem 0.1rem;

    }
    .navigation .section-navigation{
        display: none;
    }

    .mobile-menu-icon{
        display: block;
    }

    .mobile-menu-icon button{
        background: transparent;
        border: none;
        cursor: pointer;
        color: var(--color-primary-gray);
        font-size: 1.5rem;
    }

    .mobile-menu{
        width: 100%;
        display: none;
        padding-top: 1.2rem;
        transition: opacity 0.3s ease;
        align-items: center;
        padding: 1rem 1.8rem;
    }

    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        gap: 0.5rem;
    }

    .mobile-menu ul li a{
        text-decoration: none;
        color: var(--color-primary-gray);
        font-size: 1.2rem;
    }

    .mobile-menu button{
        width: 100%;
        margin-top: 1rem;
        background-color: var(--color-primary-green);
        padding: 0.75rem 1.5rem;
        border: none;
        border-radius: 0.312rem;
        color: var(--color-primary-white);
        font-weight: 400;
        cursor: pointer;
        font-size: 1.1rem;
    }

    .mobile-menu.open{
        display: block;
        opacity: 1;
    }


    
}