.section-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3% 15%;
    gap: 60px;
}


.space{
    padding: 5% 15%;
}


.space .img-section-2{
    width: 400px;
}

.wave{
    display: none;
}

.section-container-img {
    width: 40%;
}
.section-container-conteudo {
    width: 60%;
}

.section-container-conteudo h2{
    color: var(--color-primary-gray);
    font-size: 2.4rem;
    margin-bottom: 1rem;
}

.section-container-conteudo p{
    color: var(--color-primary-gray-title);
}

@media (min-width: 1800px){
    .space{
        padding: 5% 20%;
    }
}

@media (max-width: 768px) {
    .section-container {
        flex-direction: column;
        padding: 0rem 5%;
        gap: 10px;
    }

    .wave{
        display: block;
    }

    .section-container-img,
    .section-container-conteudo {
        padding: 0px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .section-container-img img {
        width: 100%;
        max-width: 300px;
    }

    .section-container-conteudo h2 {
        font-size: 1.8em;
    }

    .section-container-conteudo p {
        font-size: 0.9rem;
    }

    .section-container-conteudo button{
        margin-bottom: 2.4rem;
    }
}

@media (max-width: 1194px ){
    .section-container {
        flex-direction: column;
        padding: 0rem 5%;
        gap: 10px;
    }

    .section-container-conteudo button{
        margin-bottom: 2.4rem;
    }

    .section-container-conteudo {
        width: 100%;
    }

    .section-container-img img {
        width: 100%;
        max-width: 600px;
    }
}

@media (max-width: 480px) {
    .section-container {
        padding: 0rem 2%;
    }

    .section-container-img img {
        max-width: 250px;
    }

    .section-container-conteudo h2 {
        font-size: 1.5em;
    }

    .section-container-conteudo p {
        font-size: 0.8rem;
    }

    .section-container-conteudo button{
        margin-bottom: 2.4rem;
    }
}
